{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="nino">		

		<input type="hidden" value="" name="dob-details" id="dob-details-hidden"/>

		<div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
		      <h1 class="govuk-fieldset__heading">
		        What is your date of birth?
		      </h1>
		    </legend>
		    <span id="dob-hint" class="govuk-hint">
		      For example, 31 3 1980
		    </span>
		    <div class="govuk-date-input" id="dob">
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="dob-day">
		            Day
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" maxlength="2">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="dob-month">
		            Month
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" maxlength="2">
		        </div>
		      </div>
		      <div class="govuk-date-input__item">
		        <div class="govuk-form-group">
		          <label class="govuk-label govuk-date-input__label" for="dob-year">
		            Year
		          </label>
		          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" maxlength="4">
		        </div>
		      </div>
		    </div>
		  </fieldset>
		</div>

		<input type="submit" class="govuk-button" value="Continue" id="formbutton"><!-- nino -->	

 	</form>

 </div>
</div> 	

{% endblock %}

{% block pageScripts %}
<!--
  Using jQuery to branch the page flow based on which radio buttons are checked.
-->
<script type="text/javascript">
  $(document).on('ready',function()
  {

    // grab the existing data from the session (if it is there)
    var session_data = "{{ data['dob-details'] }}" ;
    // put it in log
    console.log(session_data);


    // whemn button is clicked
    $('#formbutton').on('click',function(e)
    {
      // don't submit the form
      e.preventDefault();
      // grab what was typed into the name box.
      var datebirth = $('#dob-day').val() + ' ' + $('#dob-month').val() + ' ' + $('#dob-year').val();
      // add that to the existing session data
      var new_session_data = (session_data) ? session_data : datebirth ;
      // put this new data back into the form (hidden)
      $('#dob-details-hidden').val(new_session_data);
      // submit the form as usual
      $("#form").submit();
    })
  });
</script>



{% endblock %}